<div class="popover-container">
  <div class="popover-header flex justify-between items-center p-3">
    <h2 class="text-lg font-bold">Delivery Address</h2>
    <ion-icon
      name="closeOutline"
      class="text-2xl cursor-pointer"
      (click)="close()"
    >
    </ion-icon>
  </div>

  <div class="popover-content">
    @if (addresses.length === 0) {
    <div class="flex flex-col items-center justify-center p-4">
      <ion-icon
        name="locationOutline"
        class="text-5xl text-gray-400 mb-2"
      ></ion-icon>
      <p class="text-gray-500 text-center">
        No saved addresses. Add a new address to continue.
      </p>
    </div>
    } @else {
    <ion-list>
      @for (address of addresses; track $index) {
      <ion-item
        [class.selected]="$index === selectedAddressIndex"
        (click)="selectAddress(address)"
        class="address-item py-2"
      >
        <ion-icon
          [name]="getAddressIcon(address)"
          slot="start"
          class="text-2xl"
        ></ion-icon>
        <ion-label>
          <h3 class="font-medium">{{ getAddressLabel(address) }}</h3>
          <p class="text-gray-500 text-sm">{{ getAddressDetails(address) }}</p>
        </ion-label>
      </ion-item>
      }
    </ion-list>
    }
  </div>

  <div class="popover-actions p-3 border-t border-gray-200">
    <ion-button
      fill="clear"
      [routerLink]="['/', restaurantName, 'specify-location']"
      [queryParams]="{ returnTo: returnTo }"
      expand="block"
      class="new-address-btn"
      (click)="close()"
    >
      <ion-icon name="addOutline" slot="start"></ion-icon>
      <span>Add New Address</span>
    </ion-button>
  </div>
</div>
