<div
  class="name flex-col justify-center p-4 bg-white shadow-[0_-4px_12px_rgba(0,0,0,0.08)]"
>
  <h1 class="text-lg font-semibold text-gray-900">
    Please enter your name to continue
  </h1>
  <p>You can edit this from your profile section any time</p>
  <input
    type="text"
    placeholder="Enter your name"
    class="w-full p-3 bg-gray-50 rounded-xl border border-gray-200 text-gray-700 placeholder:text-gray-400 focus:outline-none focus:border-red-500 focus:ring-1 focus:ring-red-500"
    [ngModel]="name$.value"
    (ngModelChange)="name$.next($event)"
  />
  <button
    class="px-12 mb-4 mt-4 p-3 bg-red-600 text-white font-semibold rounded-full hover:bg-red-700 transition-colors duration-200 float-right"
    (click)="continue()"
  >
    Continue
  </button>
</div>
