@if ((categories$ | async)?.length > 0) {
<ion-content
  class="ion-padding"
  scrollEvents="true"
  (ionScroll)="handleScroll($event)"
>
  <header class="bg-white shadow-none mt-4">
    <div class="header flex-col">
      <div class="flex justify-between items-center py-1">
        <div class="left">
          <ion-segment
            value="delivery"
            (ionChange)="onOrderTypeChange($event)"
            class="bg-white"
          >
            <ion-segment-button value="delivery" class="delivery-segment">
              <ion-label>Delivery</ion-label>
            </ion-segment-button>
            <ion-segment-button value="pickup" class="pickup-segment">
              <ion-label>Pickup</ion-label>
            </ion-segment-button>
          </ion-segment>
        </div>
        <div class="right flex items-center gap-3">
          <ion-icon name="globe-outline" class="text-black text-xl"></ion-icon>
          @if ((isUserLoggedIn$|async) === false) {
          <button
            (click)="login()"
            class="bg-gray-100 px-4 py-1 rounded-lg text-black"
          >
            Login
          </button>
          } @else {
          <ion-icon name="person-outline" class="text-black text-xl"></ion-icon>
          }
        </div>
      </div>

      @if ((orderType$|async) === 'delivery' && (isUserLoggedIn$|async) ===
      true) {
      <h1 class="text-black mt-2 flex items-center">
        Delivery to <span class="font-bold ml-1">Apartment</span>
        <ion-icon name="chevron-down-outline" class="ml-1"></ion-icon>
      </h1>
      }
    </div>
  </header>
  <div class="hero">
    <img src="assets/images/hero.png" alt="Hero Image" />
  </div>

  @if((nearestBranch$|async)) {
  <div class="flex items-center pt-4">
    <img
      src="assets/images/logo.jpeg"
      alt="Restaurant Logo"
      class="w-10 h-10 rounded-full object-cover"
    />
    <h1 class="ml-3 text-xl font-bold text-gray-800">
      {{(nearestBranch$|async)?.branchName}}
    </h1>
  </div>
  <div class="resturant-details flex items-center justify-between text-sm">
    <div class="flex justify-center items-center ml-2">
      <p>{{nearestBranch$.value?.areaName}}</p>
      <button class="ml-4 bg-green-300 px-4 py-1 rounded-full text-green-900">
        Open
      </button>
    </div>
    <p class="text-red-600 underline">More Info</p>
  </div>
  } @else {
  <div
    [routerLink]="['/', (restaurantName$ | async), 'specify-location']"
    [queryParams]="{returnTo:returnTo}"
    class="choose-location flex items-start bg-blue-50 p-2 rounded-lg mt-2"
  >
    <ion-icon class="text-blue-900 text-4xl" name="location-outline"></ion-icon>
    <div class="text-blue-900">
      Please specify your location to find the nearest branch
    </div>
  </div>
  }
  <div
    [class]="isFixedContentSticky ? 'fixed-content sticky' : 'fixed-content'"
    [ngStyle]="{'position': isFixedContentSticky ? 'fixed' : 'relative', 
                   'top': isFixedContentSticky ? '0' : 'auto',
                   'z-index': isFixedContentSticky ? '2' : 'auto',
                   'background': isFixedContentSticky ? 'white' : 'transparent',
                   'width': '100%',
                   'left': '0',
'padding': isFixedContentSticky?'0px 16px':'0'}"
  >
    <div class="seachbar-container pt-4">
      <ion-searchbar mode="md"></ion-searchbar>
    </div>
    <div class="categories">
      <ion-segment
        mode="md"
        [ngModel]="activeCategory$|async"
        (ngModelChange)="activeCategory$.next($event)"
        scrollable
        class="pt-4 scrollbar-hide"
      >
        @for (category of (categories$|async); track $index) {
        <ion-segment-button
          value="{{category.name.en}}"
          [class]="'text-sm text-white rounded-xl m-1 scrollbar-hide'"
          (click)="scrollToCategory(category.name.en)"
        >
          <ion-label>
            <div class="flex flex-col items-center">{{category.name.en}}</div>
          </ion-label>
        </ion-segment-button>
        }
      </ion-segment>
    </div>
  </div>

  <div class="items" (click)="itemChoosen()">
    @for (category of (categories$|async); track $index) {
    <h1
      [id]="'category-' + category.name.en"
      class="text-xl text-black my-4 px-2 0 w-fit"
    >
      {{category.name.en}}
    </h1>
    @for (item of category.items; track $index) { @if(isOutOfStock(item.id)) {
    <div class="item flex mt-2 border-b-2 border-gray-200 pb-2">
      <div class="ml-2 flex items-start relative">
        <div
          class="absolute inset-0 bg-gray-200/70 rounded flex items-center justify-center z-10"
        >
          <span class="text-gray-800 font-bold px-2 py-1 rounded"
            >Out of Stock</span
          >
        </div>
        <img
          class="w-20 h-20 object-cover opacity-50"
          src="{{item.imageUrl}}"
          alt="Burger"
        />
        <div
          class="flex flex-col items-start justify-start ml-2 w-full overflow-hidden leading-none opacity-50"
        >
          <h2 class="text-lg font-bold m-0 p-0">{{item.name.en}}</h2>
          <p class="text-sm text-gray-500 line-clamp-2 overflow-hidden">
            {{item.description.en}}
          </p>
          @if (item.price.amount) {
          <p class="text-lg font-bold mt-auto text-right">
            {{item.price.amount}} {{item.price.currency}}
          </p>
          }
        </div>
      </div>
    </div>
    } @else {
    <div
      class="item flex mt-2 border-b-2 border-gray-200 pb-2"
      (click)="selectItem(item)"
    >
      <div class="ml-2 flex items-start">
        <img
          class="w-20 h-20 object-cover"
          src="{{item.imageUrl}}"
          alt="Burger"
        />
        <div
          class="flex flex-col items-start justify-start ml-2 w-full overflow-hidden leading-none"
        >
          <h2 class="text-lg font-bold m-0 p-0">{{item.name.en}}</h2>
          <p class="text-sm text-gray-500 line-clamp-2 overflow-hidden">
            {{item.description.en}}
          </p>
          @if (item.price.amount) {
          <p class="text-lg font-bold mt-auto text-right">
            {{item.price.amount}} {{item.price.currency}}
          </p>
          }
        </div>
      </div>
    </div>
    } } }
  </div>
  <div class="mb-24"></div>
  @if((shouldShowPickupActionSheet$|async)) {
  <footer
    class="fixed h-fit bottom-0 left-0 right-0 w-full bg-white shadow-lg"
    (click)="$event.stopPropagation()"
  >
    <div class="action-sheet relative">
      <app-choose-pickup-branch
        [branches]="(metaData$ | async)?.branches"
        (closeSheet)="closeBranchChooseActionSheet($event)"
      ></app-choose-pickup-branch>
    </div>
  </footer>
  } @if((paymentSummary$|async).itemsCount > 0) {
  <app-cart-summry-cta
    [routerLink]="['/', (restaurantName$ | async), 'cart']"
  ></app-cart-summry-cta>
  } @if (action) {
  <div
    (click)="action = null"
    class="fixed inset-0 bg-white/10 backdrop-brightness-75 z-10"
  ></div>
  }

  <footer
    class="fixed h-fit bottom-0 left-0 right-0 w-full bg-white shadow-[0_-4px_12px_rgba(0,0,0,0.08)] z-20"
    (click)="$event.stopPropagation()"
  >
    <div class="action-sheet relative">
      @switch (action) { @case ('phone-verification') {
      <app-phone-verification (otp)="handleOTP($event)" />
      }@case ('otp') {
      <app-otp (result)="handleOTPResult($event)" />
      }@case ('name') {
      <app-enter-name />
      } }
    </div>
  </footer>
</ion-content>

} @else {
<app-loader></app-loader>
}
